doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title canvas
    body(style={
        'background-color':'#f6f6f6',
        'margin':'0',
        'overflow':'hidden'
    })
        canvas(id='canvas-1')
        script(src="dist/js/main.js") 